<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:wf="http://typo3.org/ns/WapplerSystems/FilecollectionGallery/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:if condition="{mediaItems}">
    <f:if condition="{settings.nestedEnableDescription}">
        <h2>{galleryListName}</h2>
    </f:if>
    <f:if condition="{showBackToGallerySelectionLink}">
        <f:link.action action="nested">
            <f:translate key="back_to_gallery_selection"/>
        </f:link.action>
    </f:if>



    <div class="fc-gallery">

        <div class="d-block d-md-none fc-gallery--mobile">

            <div class="fc-gallery-grid">
                <f:for each="{mediaItems}" as="mediaItem">

                    <div>
                        <div class="fc-gallery__item-wrapper">


                            <f:image class="fc-gallery__item__thumbnail" image="{mediaItem}" maxWidth="{settings.mobile.image.maxWidth}" />

                            <f:if condition="{settings.downloadButton}">
                                <f:link.file aria-label="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:btn.download_image', arguments: '{0:mediaItem.properties.title}')}" class="fc-gallery__download-btn" download="1" file="{mediaItem}">
                                    <f:image alt="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:image.download.alt')}" loading="lazy" title="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Languages/locallang.xlf:btn.download')}" src="EXT:filecollection_gallery/Resources/Public/Images/download-solid.svg" />
                                </f:link.file>
                            </f:if>

                        </div>
                        <f:if condition="{mediaItem.properties.copyright}">
                            <span class="copyright">© {mediaItem.properties.copyright}</span>
                        </f:if>
                    </div>

                </f:for>
            </div>


        </div>
        <div class="d-md-block fc-gallery--desktop">
            <div class="fc-gallery-grid">
                <f:for each="{mediaItems}" as="mediaItem">

                    <div class="">

                        <div class="fc-gallery__item-wrapper">
                            <a class="glightbox fc-gallery__item" data-glightbox="title: {f:if(condition:mediaItem.properties.title,then:mediaItem.properties.title)}; description: {mediaItem.properties.description}" title="{f:if(condition:mediaItem.properties.title,then:mediaItem.properties.title,else:mediaItem.name)}" href="{f:uri.image(image:mediaItem, maxHeight:settings.lightbox.maxHeight, maxWidth:settings.lightbox.maxWidth)}">
                                <f:image class="fc-gallery__item__thumbnail" image="{mediaItem}" width="{settings.desktop.preview.image.width}" height="{settings.desktop.preview.image.height}" />
                                <div class="fc-gallery__item__overlay">
                                    <f:image loading="lazy" class="fc-gallery__maximize-btn" title="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:btn.maximize')}" src="EXT:filecollection_gallery/Resources/Public/Images/maximize-solid.svg" />
                                </div>
                            </a>
                            <f:if condition="{settings.downloadButton}">
                                <f:link.file aria-label="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:btn.download_image', arguments: '{0:mediaItem.properties.title}')}" title="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:btn.download')}" class="fc-gallery__download-btn" download="1" file="{mediaItem}">
                                    <f:image alt="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:image.download.alt')}" title="{f:translate(key: 'LLL:EXT:filecollection_gallery/Resources/Private/Language/locallang.xlf:btn.download')}" src="EXT:filecollection_gallery/Resources/Public/Images/download-solid.svg" />
                                </f:link.file>
                            </f:if>

                        </div>
                        <f:if condition="{mediaItem.properties.copyright}">
                            <span class="copyright">© {mediaItem.properties.copyright}</span>
                        </f:if>

                    </div>
                </f:for>
            </div>

        </div>


    </div>

</f:if>



</html>
