{namespace wf=WapplerSystems\FilecollectionGallery\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <f:debug>{_all}</f:debug>

    <f:if condition="{mediaItems}">
        <f:if condition="{settings.nestedEnableDescription}">
            <h2>{galleryListName}</h2>
        </f:if>
        <f:if condition="{showBackToGallerySelectionLink}">
            <f:link.action action="nested"><f:translate key="back_to_gallery_selection" /></f:link.action>
        </f:if>


        <div class="fc-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
            <f:for each="{mediaItems}" as="object">
                <div class="ce-column">
                    <f:render partial="Media/Type" arguments="{file: object, data: data, settings: settings}" />
                </div>
            </f:for>
        </div>

    </f:if>
</f:section>
