

.fc-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-item-width), 1fr));
    grid-gap: 10px;
}

.fc-gallery--desktop .fc-gallery-grid {
    grid-template-columns: repeat(var(--gallery-columns, 3), 1fr);
}

.fc-gallery-grid img {

}

.fc-gallery__download-btn img {
    width: 24px;
    height: 24px;
}

.fc-gallery__item__thumbnail {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.fc-gallery--desktop .fc-gallery__item {
    position: relative;
    display: block;
}

.fc-gallery__download-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.fc-gallery--desktop .fc-gallery__maximize-btn {
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: opacity 0.6s;
}

.fc-gallery--desktop .fc-gallery__item:hover .fc-gallery__maximize-btn {
    opacity: 0.6;
}

.fc-gallery__item__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fc-gallery__item-wrapper {
    position: relative;
    display: block;
}

.fc-gallery .copyright {
    float: right;
    font-size: 0.7rem;
}

.fc-gallery--mobile .fc-gallery-grid > div {
    margin-bottom: 1rem;
}
